body {
	font-family: 'Space Mono', monospace;
}

.word-container {
	font-size: 2em;
	text-align: center;
	height: 20px;
	margin-bottom: 50px;
}

p {
	display: inline-block;
	font-size: 1.5em;
	margin-left: 10px;
	margin-right: 10px;
	width: 50px;
	height: 40px;
	background-color: grey;
	text-align: center;
	cursor: pointer;
}

.letter-container {
	width: 55%;
	height: 400px;
	margin-top: 50px;
	margin-left: 10px;
	display: inline-block;
}

.hangman-container {
	display: inline-block;
	width: 40%;
	height: 400px;
	margin-right: 10px;
}

p:hover {
	background-color: #ffef00;
}

.result-container {
	text-align: center;
	margin-top: 20px;
	font-size: 2em;
}

.wrong-letter {
	background-color: red;
}

.right-letter {
	background-color: green;
}