body {
	font-family: 'Space Mono', monospace;
}

.word-container {
	font-size: 2em;
	text-align: center;
	height: 20px;
	margin-bottom: 50px;
}

p {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	width: 100px;
	height: 30px;
	background-color: #cfc9c7;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}

.letter-container {
	width: 400px;
	height: 400px;
	margin-top: 50px;
	margin-left: 10px;
	display: inline-block;
}

.hangman-container {
	display: inline-block;
	width: 400px;
	height: 500px;
	margin-right: 10px;
}

p:hover {
	background-color: white;
}

.result-container {
	text-align: center;
	margin-top: 20px;
	font-size: 2em;
}

.wrong-letter {
	background-color: red;
}

.right-letter {
	background-color: green;
}

img {
	width: 200px;
	height: 200px;
}

#torso {
	position: absolute;
	top: 160px;
	z-index: 2;
}

#left-arm {
	position: absolute;
	left: 40px;
	top: 160px;
	z-index: 1;
}

#right-arm {
	position: absolute;
	right: 220px;
	top: 160px;
	height: 250px;
	width: 250px;
}

#left-leg {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 75px;
	top: 275px;
}

#right-leg {
	position: absolute;
	right: 420px;
	width: 100px;
	height: 100px;
	top: 275px;
}

#robot {
	margin-left: 100px;
	width: 400px;
	height: 500px;
	padding-top: 10px;
}

#gallows-1 {
	position: absolute;
	top: 375px;
	left: 40px;
}

#gallows-2 {
	position: absolute;
	left: 5px;
}

#gallows-3 {
	position: absolute;
	vertical-align: top;
	margin-top: -85px;
	margin-left: 60px;
}

.hide {
	visibility: hidden;
}

.show {
	visibility: visible;
}

.blank {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.match {

}