body {
	background-image: url('../images/retro-cover.jpg');
	background-image: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	color: white;
	font-family: 'Space Mono', monospace;
}

h1 {
	text-align: center;
	font-size: 6em; 
}

h2 {
	text-align: center;
	font-size: 2em;
	margin-top: 200px;
}

/*a:link {
	text-align: center;
	position: absolute;
	color: white;
}*/

.buttons {
	margin-left: 500px;
}